{% extends 'base.html' %}
{% block body %}
    <p>
        <a href="{% url 'index' %}">HOME</a> > <a href="{% url 'expenditurereport' %}">ARCHIVED</a> ><a
            href="{% url 'expenditurearchive' %}"> Main Expenses</a>
    </p><br>
<div class="container">
    <nav class="nav navbar-expand">
        <ul class="navbar-nav mr-auto">

           <li class="nav-item {% if url_name == 'pledgesarchivessearch' %}active{% endif %}">
                <a class="nav-link" href="{% url 'pledgesarchivessearch' %}">
                    <button class="btn btn-success">Pledges Archive</button>
                </a>
            </li>
         <li class="nav-item {% if url_name == 'tithesarchivessearch' %}active{% endif %}">
                <a class="nav-link" href="{% url 'tithesarchivessearch' %}">
                    <button class="btn btn-success">Tithes Archive</button>
                </a>
            </li>
         <li class="nav-item {% if url_name == 'offeringsarchivessearch' %}active{% endif %}">
                <a class="nav-link" href="{% url 'offeringsarchivessearch' %}">
                    <button class="btn btn-success">Offering Archive</button>
                </a>
            </li>
            <li class="nav-item {% if url_name == 'expensesarchivessearch' %}active{% endif %}">
                <a class="nav-link" href="{% url 'expensesarchivessearch' %}">
                    <button class="btn btn-defualt">Main Expenses Archive</button>
                </a>
            </li>
            <li class="nav-item {% if url_name == 'sundryarchivessearch' %}active{% endif %}">
                <a class="nav-link" href="{% url 'sundryarchivessearch' %}">
                    <button class="btn btn-success">Small Expenses Archive</button>
                </a>
            </li>

            <li class="nav-item {% if url_name == 'salaryarchivessearch' %}active{% endif %}">
                <a class="nav-link" href="{% url 'salaryarchivessearch' %}">
                    <button class="btn btn-success">Allowances Archive</button>
                </a>
            </li>

        </ul>
    </nav>

    <div class="container">
       <p>{{ message }}</p>
               <h5>Please search for the archived Main Expenses by <b class="btn-success">Year</b> and <b class="btn-success">Month</b></h5>


                        <form class="form-inline"  method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                            <div class="col-auto my-1">
                          <label class="mr-sm-2" for="inlineFormCustomSelect">Year</label>
                          <select class="custom-select mr-lg-2" name="report_year" id="inlineFormCustomSelect">
                              {% for report_year in years %}
                                 <option class="btn-success" name="{{ report_year }}" value="{{ report_year }}">{{ report_year }}</option>
                              {% endfor %}
                          </select>
                        </div>
                            <div class="col-auto my-1">
                          <label class="mr-sm-2" for="inlineFormCustomSelect">Month</label>
                          <select class="custom-select mr-lg-2" name="report_month" id="inlineFormCustomSelect">
                              {% for report_month in months %}
                                 <option class="btn-success" name="{{ report_month }}" value="{{ report_month }}">{{ report_month }}</option>
                              {% endfor %}
                          </select>
                        </div>
                            <div class="col-auto my-1">
                                <label class="mr-sm-2" for="inlineFormCustomSelect">Search</label>
                          <button type="submit" class="btn btn-danger">Search</button>
                        </div>


                        </form><br><br>



        <table class="table table-hover" border="2">
            <tbody>
            {% for archived in archived_reports %}
                <tr>
                    <td>{{ archived.Date }}</td>
                    <td>{{ archived.Name }}</td>
                    <td>{{ archived.Reason}}</td>
                    <td>{{ archived.Amount }}</td>
                </tr>
            {% endfor %}
            </tbody>

             {% if archived_reports %}
                  <h5>Monthly Archived Report For  {{ report_month }} {{ report_year }}  </h5>
             <thead class="font-weight-bold ">
            <tr>
                <td>Date</td>
                <td>Name</td>
                <td>Reason</td>
                <td>Amount</td>
            </tr>
            </thead>
             <tr><td><b>Total Amount:</b> </td> <td>______________ </td> <td>______________  </td><td><b>{{ total_amount}}</b></td></tr>

             <td><a href="{% url 'expenditurearchivepdf'  report_month  report_year %}" target="_new" class="btn btn-primary bt-sm" role="button">Print Report</a></td>
        {% endif %}
        </table>

    </div>

    <br><br></div>
{% endblock %}